
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');


:root{
  --color-primary: rgba(253, 241, 65, 0.849);
  --color-primary-dark: rgb(11, 8, 175);
  --color-secondary: rgba(60, 60, 190);
  --color-error: rgba(210, 40, 40);
  --color-success: rgba(204, 250, 167, 0.5);
  --border-radius: 7px;
  
  --regular-font-size: 20px;
  --mobile-foont-size: 15px;

  --box-shadow: 0 0 30px rgb(15, 216, 48);
  --input-regular-border:2px solid #2b08ca;
  
}

body{
  background: linear-gradient(to right, var(--color-primary),var(--color-primary-dark)), url(fb.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;

 font-size: var(--regular-font-size);
  position: relative;
}

.container{
background-color: white;
width: 400px;
max-width: 400px;
max-height: 600px;
box-shadow: var(--box-shadow);
border-radius: var(--border-radius);
padding: 2rem;

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
font-family: 'PT Serif', serif;
}

.form__title{
    text-align: center;
    margin-bottom: 1rem;
   }

.form__message{
    text-align: center;
    margin-bottom: 1rem;
   }

.form__message-error{
    color: var(--color-error);
}
.form__input--group{
    margin-bottom: 1rem;
}

.form__input{
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    outline: none;
    border: var(--input-regular-border);
    background-color: #eee;
    transition: background .3s, border-color .3s;
}
.form__input:focus{
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary)
}
.form__input-error-message{
    margin-top: 0.5rem;
    font: 0.85rem;
    color: var(--color-error);
}
.form__button{
   width: 100%;
   padding: 1rem 2rem;
   font-weight: bold;
   color: var(--color-primary-dark);
   background-color: var(--color-primary);
   border-radius: var(--border-radius);
   outline: none;
   border: none;
   border-color: var(--color-primary-dark);
   font-size: 1.1rem;
}
.form__button:hover{
    background-color: rgb(24, 199, 18);
}
.form__button:active{
    transform: scale(0.95);
}
.form__text{
    text-align: center;
}
.form__link{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover{
    text-decoration: underline;
}
.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}